<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Book</title>
</head>
<body>
    <a href="/books">Back to List</a>
    <h1>Add a new Book</h1>
    <form action="/books/add" method="POST">
        <input type="hidden" name="_method" value="PUT">
        <p>Title: <input type="text" name="title"></p>
        <p>Author first name: <input type="text" name="author_first_name"></p>
        <p>Author last name: <input type="text" name="author_last_name"></p>
        <p>Year: <input type="text" name="year"></p>
        <p>ISBN: <input type="text" name="isbn"></p>
        <p>Price: <input type="text" name="price"></p>
        <input type="submit" value="Update">
    </form>
</body>
</html>