<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>AIN3003 Term Project</h3>

    <h2>Bookstore database showcase</h1>

    <p>This app implements CRUD operations on the Bookstore dataset.</p>

    <p>Click on the links below to see the results of the operations:</p>

    <ul>
        <li><a href="/books">List all books</a></li>
        <li><a href="/books/1">Show book with id 1</a></li>
        <li><a href="/books/1/edit">Edit book with id 1</a></li>
        <li><a href="/books/create">Add a new book</a></li>
    </ul>

</body>
</html>